/* Шрифты
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
:root {
    --active-orange: #fce38a;
    --active-red: #f38181;
    --text-white: #ffffff;
    --text-gray: #333333;
    --text-light-gray: #999999;
    --bg--green: #95e1d3;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a, button, summary {
    -webkit-tap-highlight-color:  transparent;
    -moz-user-select: none;  
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

/* Header */
.header {
    width: 100%; 
    position: absolute;
    top: 25px;
    left: 0;    
    z-index: 3;
}
.header.fixed {
    background-color: #df7275;
    box-shadow: 0 0 6px #5c4646;
    padding: 14px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.header__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Page */
.page {
    overflow: hidden;
}

/* Top navigation */
.logo {
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
    color: var(--text-white);
    border: none;
    text-decoration: none;
    transition: color .2s linear;
    margin-right: auto;
}
.logo:hover, .logo:focus {
    color: var(--active-orange);
    outline: none;
}
.topnav {
    display: flex;
    align-items: center;
    transition: right .2s linear;
}
.topnav.active {
    right: 0;
}
.topnav__link {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
    text-decoration: none;
    margin: 0 25px;
    transition: color .2s linear;
}
.topnav__link--icon {
    margin: 0 20px;
}
.topnav__icon {
    width: 18px;
    height: 18px;
    fill: var(--text-white);
    transition: fill .2s linear;
}
.topnav__link--icon:hover .topnav__icon{
    fill: var(--active-orange);
}
.topnav__link:last-child {
    margin-right: 0;
}
.topnav__link:hover, .topnav__link:focus {
    color: var(--active-orange);
    outline: none;
}
.topnav__link.active {
    color: var(--active-orange);
}
.topnav__link::after {
    content: "";
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 100%;
    height: 3px;
    background-color: var(--active-orange);
    transition: opacity .15s linear;
}
.topnav__link:hover::after, .topnav__link.active::after {
    opacity: 1;
}

/* Burger */
.burger {
    display: none;
    position: relative;
    width: 44px;
    height: 24px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.burger__line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--text-white);
    border-radius: 4px;
    transition: transform .2s linear;
}
.burger__line:nth-child(1) {
    position: absolute;
    top: 0;
}
.burger__line:nth-child(3) {
    position: absolute;
    bottom: 0;
}
.burger.active .burger__line:nth-child(2) {
    transform: scale(0);
}
.burger.active .burger__line:nth-child(1) {
    transform: rotate(45deg) translate(14px);
}
.burger.active .burger__line:nth-child(3) {
    transform: rotate(-45deg) translate(14px);
}
/* Intro */
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 850px;
    background-image: url(../img/header_bg.jpg);
    background-position: center;
    background-size: cover;
}
.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 80px;
}
.intro__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    color: var(--text-white);
    margin-bottom: 30px;
}
.intro__title {
    position: relative;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: var(--text-white);
}
.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--text-white);
    margin: 55px auto;
}
.intro__button {
    display: block;
    padding: 8px 32px;
    border: 3px solid var(--text-white);
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-white);
    cursor: pointer;
    outline: none;
}
.intro__button:hover {
    border: 3px solid var(--active-red);
    background-color: var(--active-red);
}

/* slider */
.slider {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.slider__inner {
    display: flex;
    justify-content: space-between;
}
.slider__item {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
    width: 23%;
    padding: 22px 0;
    border-top: 3px solid #f7eac5;
}
.slider__item.active {
    border-top: 3px solid var(--text-white);
}
.slider__item.active::before {
    content: "";
    display: block;
    width: 24%;
    height: 3px;
    background-color: var(--active-red);
    position: absolute;
    top: -3px;
    left: 0;
}
.slider__num {
    font-size: 24px;
    font-weight: 700;
}
/* Section */
.section {
    padding: 90px 0;
}
.section--brands {
    padding: 55px 0;   
    background-color: #f8f8f8; 
}
.section--review {
    padding: 40px 0 130px 0;
}
.section--works {
    padding-bottom: 0;
}
.section__header {
    width: 100%;
    max-width: 970px;
    text-align: center;
    margin: 0 auto;
}
.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-gray);
    margin-bottom: 25px;
}
.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-gray);
}
.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--active-red);
    margin: 38px auto;
}
.section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-light-gray);
    margin-bottom: 90px;
}

/* About */
.about {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about__item {
    background-color: var(--bg--green);
}
.about__image {
    position: relative;
    background: linear-gradient(to bottom, var(--active-red), var(--active-orange));
    transition: transform .2s linear;
}
.about__image img{
    max-width: 100%;
    display: block;
    transition: opacity .2s linear;
}
.about__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-white);
    opacity: 0;
    transition: opacity .2s linear;
}
.about__item:hover {
    cursor: pointer;
}
.about__item:hover .about__image{
    transform: translate3d(-10px, -10px, 0);
}
.about__item:hover .about__image img{
    opacity: .2;
}
.about__item:hover .about__text {
    opacity: 1;
}

/* Funnum */
.funnum {
    background-color: var(--bg--green);
}
.funnum__inner {
    display: flex;
    width: 100%;    
}
.funnum__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 270px;
    border-left: 1px solid #b5eae0;
}
.funnum__item:last-child {
    border-left: 1px solid #b5eae0;
    border-right: 1px solid #b5eae0;  
}
.funnum__num {
    font-size: 72px;
    font-weight: 700;
    color: var(--text-white);
}
.funnum__text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
}

/* Services */
.services {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 25px;
}
.services__item {
    width: 33.333333%;;
    position: relative;
    padding: 0 40px 25px 90px;

}
.services__item--line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
.services__icon {
    position: absolute;
    top: 0;
    left: 30px;
}
.services__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-gray);
}
.services__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-light-gray);
}

/* Devices */
.section.section--devices {
    background: url(../img/feature/feature_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 0;
}
.devices {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: -30px auto 0;
}
.devices__item {
    display: block;
}
.devices__item--iphone {
    position: absolute;
    right: -80px;
    bottom: -80px;
}

/* Whatwedo */
.whatwedo {
    display: flex;
}
.whatwedo__item {
    flex: 1 1 0;
}
.whatwedo__photo {
    display: block;
}

/* Accordion */
.accordion {
    display: flex;
    flex-direction: column;
}
.accordion__item {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    margin-bottom: 10px;
}
.accordion__title {
    display: block;
    position: relative;
    height: 60px;
    padding: 23px 0 0 58px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-gray);
    border-bottom: 1px solid #e5e5e5;
    outline: none;
}
.accordion__title::marker {
    display: none;
}
.accordion__title::-webkit-details-marker {
    display: none;
 }
.accordion__item[open] {
    border-bottom: 1px solid #e5e5e5;
}
.accordion__item[open] .accordion__title::after {
    transform: translate(0,-50%) rotate(180deg);
    animation: spoiler 1s;
}
.accordion__title::after {
    content: "";
    display: block;
    width: 22px;
    height: 12px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0,-50%);
    background: no-repeat center 
    url('../img/service_2/arrow.png');
}
.accordion__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0,-50%);
}
.accordion__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-light-gray);
    padding: 15px 20px;
}
/* Reviews */
.reviews {
    width: 100%;
    padding: 70px 0;
    background-color: #f8f8f8;
}
.reviews__inner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.reviews__item {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 0 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews__icon {
    display: block;
    margin-right: 60px;
}
.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 750px;
    margin-top: 30px;
}
.reviews__content p {
    margin: 0 0 13px 0;
}
.reviews__text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;    
    line-height: 1.5;
    color: var(--text-light-gray);
}
.reviews__autor {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: var(--text-gray);
}
.reviews__autor::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: var(--active-red);
}
.reviews__arrow {
    display: block;
    width: 12px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    background: center no-repeat url(../img/mention/arrow_left.png);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.reviews__arrow--back{
    left: 15px;
}
.reviews__arrow--forward{
    right: 15px;
    transform: translateY(-50%) rotate(180deg);
}
/* Slick слайдер slick-prev slick-arrow*/
.slick-arrow {
    display: block;
    width: 12px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    background: center no-repeat url(../img/mention/arrow_left.png);
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);  
    font-size: 0;  
    color: transparent;
}
.slick-prev {
    left: 15px;
}
.slick-next {
    right: 15px;
    transform: translateY(-50%) rotate(180deg);    
}
.slick-slide:focus {
    outline: none;
}
/* Teamcards */
.teamcards {
    display: flex;
    justify-content: space-between;
}
.teamcards__item {
    position: relative;
    background-color: var(--bg--green);
    width: 31,66666%;
    margin-right: 15px;
    margin-bottom: 90px;
}
.teamcards__item:last-child {
    margin-right: 0;
}
.teamcards__photo:hover .teamsocial {
    display: flex;
}
.teamcards__photo:hover .teamcards__img {
    opacity: .1;
}
.teamcards__photo:hover {
    transform: translate3d(-10px, -10px, 0);
}
.teamcards__photo {
    position: relative;
    background: linear-gradient(to bottom, var(--active-red), var(--active-orange));
    cursor: pointer;
    transition: transform .2s linear;
}
.teamcards__img {
    max-width: 100%;
    display: block;
    transition: opacity .1s linear;
}
.teamcards__name {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 400;
    color: var(--text-gray);
    text-transform: uppercase;
    white-space: nowrap;
}
.teamcards__post {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: var(--text-light-gray);
    position: absolute;
    bottom: -74px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
/* Teamsocial */
.teamsocial {
    display: none;
    width: 224px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);    
}
.teamsocial__item {
    flex: 1 1 0;
    display: flex;
    background-color: var(--active-orange);
    transition: background-color .2s linear;
}
.teamsocial__item:not(:last-child) {
    border-right: 1px solid #f9bd87;
}
.teamsocial__icon {
    width: 26px;
    height: 26px;
    margin: auto;
    fill: var(--active-red);
    transition: fill .2s linear;    
}
.teamsocial__item:hover {
    background-color: var(--active-red);
}
.teamsocial__item:hover .teamsocial__icon {
    fill: #fff;
}

/* Brands */
.brands {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Works */
.works {
    display: flex;
    flex-wrap: wrap;
}
.works__col {
    flex: 1 1 0;
}
.works__item {
    max-width: 100%;
    position: relative;
    background: linear-gradient(to bottom, var(--active-red), var(--active-orange));
}
.works__img {
    display: block;
    transition: opacity .2s linear;
    width: 100%;
}
.works__content {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 0 20px;
    color: var(--text-white);
}
.works__icon {
    margin-bottom: 15px;
}
.works__name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 9px;
}
.works__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-style: italic;
    font-weight: 300;
}
.works__item:hover .works__img {
    opacity: .1;
} 
.works__item:hover .works__content {
    display: block;
}

/* Clients */
.section--clients {
    background: center no-repeat url(../img/clients/bg.jpg);
    background-size: cover;
    padding: 110px 0 55px;
}
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
}
.clients__item {
    position: relative;
    width: 50%;
    padding: 10px 50px 70px 180px;
}
.clients__photo {
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
}
.clients__name {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text-gray);
    margin-bottom: 7px;
}
.clients__post {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-style: italic;
    font-weight: 300;  
    color: var(--text-gray);  
}
.clients__post::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--active-red);
    margin: 14px 0 20px;
}
.clients__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;  
    color: var(--text-light-gray);      
}

/* Blog */
.blog {
    display: flex;
    flex-wrap: wrap;
}
.blog__item {
    width: 31%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.blog__item:last-child {
    margin-right: 0;
}
.blog__preview {
    position: relative;
}
.blog__img {
    max-width: 100%;
    display: block;
}
.blog__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60px;
    height: 70px;   
    bottom: 10px;
    left: -10px;
    background-color: var(--bg--green);
    color: var(--text-white); 
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;  
    font-style: italic;  
    line-height: 1;          
}
.blog__date span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;    
}
.blog__content {
    padding: 19px 0 4px;
}
.blog__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-gray);
}
.blog__title:hover {
    text-decoration: underline;
}
.blog__brief {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;  
    color: var(--text-light-gray);
}
.blog__stat {
    display: flex;
    align-items: center;
    height: 52px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;  
    font-style: italic;
    color: var(--text-light-gray);
    border-top: 1px solid #e5e5e5;    
}
.blog__views::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 20px;
    height: 12px;
    background: center no-repeat url(../img/blog/views.png);
    margin-right: 6px;
}
.blog__comments::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 15px;
    background: center no-repeat url(../img/blog/comments.png);
    margin: 0 5px 0 18px;
}

/* Map */
.section--map {
    background: center no-repeat url(../img/map/bg.jpg);
    background-size: cover;
    display: flex;
}
.maplink {
    position: relative;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    color: var(--active-red);
    text-transform: uppercase;
    text-decoration: none;
}
.maplink:hover {
    text-decoration: underline;
}
.maplink::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -38px;
    transform: translateX(-50%);
    display: block;
    width: 20px;
    height: 26px;
    background: no-repeat center url(../img/map/icon.png);
}
.maplink::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--active-red);
}

/* Footer */
.section--footer {
    background-color: #f8f8f8;
    padding: 70px 0 0 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Mogo */
.mogo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
}
.mogo__title {
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}
.mogo__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;   
    color: var(--text-light-gray); 
    padding: 35px 55px 35px 0; 
    margin: 0;
}

/* Follow */
.follow {
    display: flex;
    flex-direction: column;
}
.follow__folowers {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 14px 0 18px;
    color: var(--text-gray);
    border-bottom: 1px solid #e5e5e5;
}
.follow__folowers span {
    font-size: 18px;
    font-weight: 700;    
}
.follow__icons {
    height: 50px;
    display: flex;
    align-items: center; 
}
.follow__icons span {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;   
    font-style: italic;
    color: var(--text-light-gray);
    margin-right: 10px; 
    white-space: nowrap;    
}
.follow__icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.follow__form {
    display: flex;
    margin-top: 20px;
}
.follow__input {
    border: 1px solid #e7e7e7;
    padding: 8px 0 8px 14px;
    width: 230px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;   
    font-style: italic;
    color: var(--text-gray); 
    outline: none;
}
.follow__button {
    display: block;
    border: 1px solid var(--bg--green);
    background-color: var(--bg--green);
    outline: none;
    height: 42px;
    width: 150px;
    text-transform: uppercase;
    color: var(--text-white);
    font-weight: 700;
    cursor: pointer;
}
/* Blogs */
.blogs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
    margin-left: auto;
}
.blogs__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-gray);
    line-height: 1;
    margin: 25px 0 40px;
}
.blogs__item {
    position: relative;
    width: 100%;
    max-width: 360px;
    padding: 16px 20px 4px 140px;
    margin-bottom: 30px;
}
.blogs__img {
    position: absolute;
    top: 0;
    left: 0;
}
.blogs__name {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--text-gray);
}
.blogs__date {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.8;
    font-weight: 300;   
    font-style: italic;
    color: var(--text-light-gray);    
}
/* Instagram */
.instagram {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 270px;    
    margin-left: auto;
}
.instagram__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-gray);
    line-height: 1;
    margin: 25px 0 40px;
}
.instagram__inner {
    display: flex;
    flex-wrap: wrap;
}
.instagram__inner a {
    border: 1px solid #f8f8f8;
}
.instagram__inner a img {
    display: block;
}
.instagram__link {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.8;
    font-weight: 300;   
    font-style: italic;
    color: var(--text-gray); 
    text-decoration: none;    
    margin-top: 15px;
}
.instagram__link:hover {
    text-decoration: underline;
}
/* Copyright */
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
    height: 60px;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    color: var(--text-gray);
    text-align: center;
}
.copyright span {
    color: var(--active-red);
}

/* =========== Media ===========*/

@media (max-width: 1200px) {
    /* About */
    .about__item {
        width: 31.6666%;
    }
    /* What we do */
    .whatwedo__photo {
        width: 100%;
    }
    /* Accordion */
    .accordion {
        margin-left: 15px;
    }
    /* Reviews */
    .reviews {
        padding: 40px 0;
    }
    .reviews__text {
        font-size: 20px;
    }
    /* Teamcards */
    .teamcards__name {
        bottom: -40px;
    }
    .teamcards__post {
        bottom: -60px;
    }
    /* Footer */
    .footer {
        justify-content: flex-start;
    }
    .mogo {
        max-width: 100%;
    }
    .blogs, .instagram {
        margin-left: 0;
    }
    .blogs {
        max-width: 60%;
    }
    .blogs__item {
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    /* Intro */
    .intro {
        min-height: 700px;
    }
    .intro__suptitle {
        font-size: 50px;
    }
    .intro__title {
        font-size: 110px;
    }
    /* Services */
    .services__item {
        width: 50%;
    }
    .services__item--line {
        border: none;
        margin-bottom: 0;
    }
    /* What we do */
    .whatwedo__photo {
        width: 80%;
        margin: 0 auto 15px;
    }    
    /* What we do */
    .whatwedo {
        flex-wrap: wrap;
    }    
    .whatwedo__item {
        flex: none;
        width: 100%;
    }
    /* Accordion */
    .accordion {
        width: 80%;
        margin: 0 auto;
    }    
    /* Reviews */
    .reviews__item {
        padding: 0 85px;
    }
    /* brands */
    .brands__item {
        width: 33%;
    }
    .brands__item img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    /* Works */
    .works__col {
        flex: none;
        width: 50%;
    }
    /* Clients */
    .clients {
        margin-top: 15px;
    }
    .clients__item {
        width: 100%;
    }
    /* Blog */
    .blog {
        flex-direction: column;
    }
    .blog__item {
        width: 95%;
        margin: 0 0 30px 15px;
        flex-direction: row;
        align-items: flex-start;
    }
    .blog__item:last-child {
        margin: 0 0 0 15px;
    }
    .blog__preview {
        margin-right: 15px;
    }
    .blog__img {
        max-width: none;
    }
    .blog__content {
        padding: 0;
    }

}
@media (max-width: 768px) {
    /* Section */
    .section {
        padding: 40px 0;
    }
    .section__title::after {
        margin: 28px auto;
    }
    .section__text {
        margin-bottom: 40px;
    }
    /* Header */
    .header {
        background-color: #df7275;
        box-shadow: 0 0 6px #5c4646;
        padding: 14px 0;
        position: fixed;
        top: 0;
        left: 0;
    }
    /* Topnav */
    .topnav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 40%;
        background-color:  #df7275;
        position: absolute;
        top: 62px;
        right: -40%;
        z-index: 2;
        height: calc(100vh - 62px);
    }
    .topnav__link, .topnav__link--icon {
        margin: 15px;
    }
    /* Burger */
    .burger {
        display: block;
    }
    /* Intro */
    .intro {
        min-height: 560px;
    }
    .intro__title {
        font-size: 72px;
        max-width: 450px;
    }
    .intro__suptitle {
        font-size: 31px;
    }
    /* Slider */
    .slider__text {
        display: none;
    }
    /* About */
    .about {
        justify-content: center;
    }
    .about__item {
        width: 380px;
        margin-bottom: 30px;
    }
    .about__item:last-child {
        margin-bottom: 0;
    }
    /* Funnum */
    .funnum__inner {
        flex-wrap: wrap;
    }
    .funnum__item {
        width: 50%;
        border: none;
        height: 170px;
    }
    .funnum__item:last-child{
        width: 100%;
        border: none;
    }
    /* Services */
    .services__item {
        width: 100%;
    }
    .services__item:last-child {
        padding-bottom: 0;
    }
    /* Devices */
    .devices__item--ipad {
        width: 100%;
    }
    .devices__item--iphone {
        width: 48%;
        right: -65px;
        bottom: -60px;        
    }  
    /* What we do */
    .whatwedo__photo {
        width: 90%;
    }    
    /* Accordion */
    .accordion {
        width: 90%;
    }   
    /* Works */
    .section--works {
        padding-bottom: 0;
    }       
    /* Reviews */
    .reviews__item {
        flex-direction: column;
    }
    .reviews__content {
        text-align: center;
    }
    .reviews__icon {
        margin: 0;
    }
    .reviews__text {
        font-size: 18px;
    }
    /* Teamcards */
    .teamcards {
        flex-direction: column;
        align-items: center;
    }
    .teamcards__item {
        margin-bottom: 80px;
        margin-right: 0;
    } 
    /* Clients */
    .clients__item {
        text-align: center;
        padding: 10px 50px 70px 50px;
    }
    .clients__post::after {
        margin: 14px auto 20px;
    }
    .clients__photo {
        position: static;
        margin: 0 auto 15px;
    }
    /* Blog */
    .blog__item {
        margin: 0 0 15px 0;
    }
    .blog__item:last-child {
        margin: 0;
    }
    .blog__preview {
        width: 40%;
        flex-shrink: 0;
    }
    .blog__img {
        width: 100%;
    }
    /* Map */
    .section--map {
        padding: 80px 0;
    }
    /* Footer */
    .footer {
        flex-direction: column;
    }
    .section--footer {
        padding: 70px 0 0 0;
    }
    /* MoGo */
    .mogo__text {
        padding: 35px 0;
    }
    /* Blogs */
    .blogs, .instagram {
        max-width: 100%;
    }
}
@media (max-width: 414px) {
    /* Topnav */ 
    .topnav{
        width: 60%;
        right: -60%;
    }
    /* Intro */
    .intro__inner {
        padding: 0 40px;
    }
    .intro__title {
        font-size: 52px;
    }
    .intro__suptitle {
        font-size: 28px;
    }
    /* About */
    .about__item {
        margin-bottom: 15px;
    }
    /* Funnum */
    .funnum__item {
        width: 100%;
        height: 150px;
        border-bottom: 1px solid #b5eae0;
    }
    .funnum__item:last-child {
        border: none;
    }
    /* Services */
    .services__item {
        padding: 0 0 25px 50px;
    }
    .services__icon {
        left: 5px;
    }
    /* Devices */
    .devices__item--iphone {
        right: -55px;
        bottom: -50px;
    }    
    /* What we do */
    .whatwedo__photo {
        width: 100%;
    }    
    /* Accordion */
    .accordion {
        width: 100%;
    } 
    /* Reviews */
    .reviews__item {
        padding: 0 45px;
    }
    /* brands */
    .brands__item {
        width: 50%;
    }    
    /* Works */
    .works__col {
        width: 100%;
    }
    /* Clients */
    .clients__item {
        padding: 10px 0 0;
    }
    /* Blog */
    .blog__item {
        width: 100%;
        flex-direction: column;
    }
    .blog__preview {
        width: 100%;
        margin: 0 0 15px 0;
    }
    /* Footer */
    .footer {
        align-items: center;
    }
    /* MoGo */
    .mogo__title {
        text-align: center;
    }
    /* Follow */
    .follow__form {
        flex-direction: column;
        align-items: stretch;
    }
    .follow__input, .follow__button {
        width: 100%;
    }
    /* Blogs */
    .blogs__title {
        text-align: center;
    }
    .blogs__item {
        padding: 0 0 4px 140px;
    }
    /* Instagram */
    .instagram__inner {
        max-width: 270px;
        margin: 0 auto;
    }
    .instagram {
        text-align: center;
    }
}
@media (orientation: landscape)  and (max-width: 768px) {
    .topnav__link, .topnav__link--icon {
        margin: 9px;
    }
    /* .topnav__link--icon {
        margin: 7px;
    } */
}