/* Шрифты
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
:root {
    --active-orange: #fce38a;
    --active-red: #f38181;
    --text-white: #ffffff;
    --text-gray: #333333;
    --text-light-gray: #999999;
    --bg--green: #95e1d3;
}

*, *::after, *::before {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    -webkit-tap-highlight-color:  transparent;
    -moz-user-select: none;  
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

/* Header */
.header {
    width: 100%; 
    position: absolute;
    top: 25px;
    left: 0;    
    z-index: 2;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}

/* Top navigation */
.logo {
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
    color: var(--text-white);
    border: none;
    text-decoration: none;
    transition: color .2s linear;
}
.logo:hover, .logo:focus {
    color: var(--active-orange);
    outline: none;
}
.topnav {
    display: flex;
    align-items: center;
}
.topnav__link {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
    text-decoration: none;
    margin: 0 25px;
    transition: color .2s linear;
}
.topnav__link:hover, .topnav__link:focus {
    color: var(--active-orange);
    outline: none;
}
.topnav__link.active {
    color: var(--active-orange);
}
.topnav__link::after {
    content: "";
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 100%;
    height: 3px;
    background-color: var(--active-orange);
    transition: opacity .15s linear;
}
.topnav__link:hover::after, .topnav__link.active::after {
    opacity: 1;
}

/* Intro */
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/header_bg.jpg);
    background-position: center;
    background-size: cover;
}
.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 80px;
}
.intro__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    color: var(--text-white);
    margin-bottom: 30px;
}
.intro__title {
    position: relative;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: var(--text-white);
}
.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--text-white);
    margin: 55px auto;
}
.intro__button {
    display: block;
    padding: 8px 32px;
    border: 3px solid var(--text-white);
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-white);
    cursor: pointer;
}
.intro__button:hover {
    border: 3px solid var(--active-red);
    background-color: var(--active-red);
}

/* slider */
.slider {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.slider__inner {
    display: flex;
    justify-content: space-between;
}
.slider__item {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
    width: 23%;
    padding: 22px 0;
    border-top: 3px solid var(--text-white);
}
.slider__item span {
    font-size: 24px;
    font-weight: 700;
}
.slider__item::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: var(--active-red);
    position: absolute;
    top: -3px;
    left: 0;
}

/* Section */
.section {
    padding: 90px 0;
}
.section--gray {
    background-color: #f8f8f8;
    padding: 70px 0;
}
.section--brands {
    padding: 55px 0;    
}
.section--review {
    padding: 40px 0 130px 0;
}
.section__header {
    width: 100%;
    max-width: 970px;
    text-align: center;
    margin: 0 auto;
}
.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-gray);
    margin-bottom: 25px;
}
.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-gray);
}
.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--active-red);
    margin: 38px auto;
}
.section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-light-gray);
    margin-bottom: 90px;
}

/* About */
.about {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.about__item {
    background-color: var(--bg--green);
}
.about__image {
    position: relative;
    background: linear-gradient(to bottom, var(--active-red), var(--active-orange));
    transition: transform .2s linear;
}
.about__image img{
    display: block;
    transition: opacity .2s linear;
}
.about__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-white);
    opacity: 0;
    transition: opacity .2s linear;
}
.about__item:hover {
    cursor: pointer;
}
.about__item:hover .about__image{
    transform: translate3d(-10px, -10px, 0);
}
.about__item:hover .about__image img{
    opacity: .2;
}
.about__item:hover .about__text {
    opacity: 1;
}

/* Funnum */
.funnum {
    background-color: var(--bg--green);
}
.funnum__inner {
    display: flex;
    width: 100%;    
}
.funnum__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 270px;
    border-left: 1px solid #b5eae0;
}
.funnum__item:last-child {
    border-left: 1px solid #b5eae0;
    border-right: 1px solid #b5eae0;  
}
.funnum__num {
    font-size: 72px;
    font-weight: 700;
    color: var(--text-white);
}
.funnum__text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
}

/* Services */
.services {
    display: flex;
    position: relative;
}
.services--line {
    margin-bottom: 50px;
    padding-bottom: 25px;
}
.services.services--line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}
.services__item {
    flex: 1 1 0;
    position: relative;
    padding: 0 40px 15px 90px;
}
.services__icon {
    position: absolute;
    top: 0;
    left: 30px;
}
.services__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-gray);
}
.services__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-light-gray);
}

/* Devices */
.section.section--devices {
    background: url(../img/feature/feature_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 0;
}
.devices {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: -30px auto 0;
}
.devices__item {
    display: block;
}
.devices__item--iphone {
    position: absolute;
    right: -80px;
    bottom: -80px;
}

/* Whatwedo */
.whatwedo {
    display: flex;
}
.whatwedo__item {
    flex: 1 1 0;
}
.whatwedo__photo {
    display: block;
}

/* Accordion */
.accordion {
    display: flex;
    flex-direction: column;
}
.accordion__item {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    margin-bottom: 10px;
}
.accordion__title {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-gray);
    border-bottom: 1px solid #e5e5e5;
}
.accordion__item[open] {
    border-bottom: 1px solid #e5e5e5;
}
.accordion__item[open] .accordion__title::after {
    transform: rotate(180deg);
    animation: spoiler 1s;
}
.accordion__title::after {
    content: "";
    display: block;
    width: 22px;
    height: 12px;
    margin-left: auto;
    background: no-repeat center 
    url('../img/service_2/arrow.png');
}
.accordion__icon {
    margin-right: 15px;
}
.accordion__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-light-gray);
    padding: 0 20px;
}
/* Mention */
.mention {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.mention::before,
.mention::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 22px;
    background: no-repeat center url(../img/mention/arrow_left.png);
}
.mention::before {
    left: 20px;
}
.mention::after {
    right: 20px;
    transform: translateY(-50%) rotate(180deg);
}
.mention_icon {
    display: block;
    margin-right: 60px;
}
.mention__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 750px;
}
.mention__content p {
    margin: 0 0 13px 0;
}
.mention__text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;    
    line-height: 1.5;
    color: var(--text-light-gray);
}
.mention__autor {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: var(--text-gray);
}
.mention__autor::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: var(--active-red);
}

/* Teamcards */
.teamcards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.teamcards__item {
    position: relative;
    background-color: var(--bg--green);
    width: 100%;
    max-width: 380px;
}
.teamcards__photo:hover .teamsocial {
    display: flex;
}
.teamcards__photo:hover .teamcards_img {
    opacity: .1;
}
.teamcards__photo:hover {
    transform: translate3d(-10px, -10px, 0);
}
.teamcards__photo {
    position: relative;
    background: linear-gradient(to bottom, var(--active-red), var(--active-orange));
    cursor: pointer;
    transition: transform .2s linear;
}
.teamcards_img {
    display: block;
    transition: opacity .1s linear;
}
.teamcards__name {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 400;
    color: var(--text-gray);
    text-transform: uppercase;
}
.teamcards__post {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: var(--text-light-gray);
    position: absolute;
    bottom: -74px;
    left: 50%;
    transform: translateX(-50%);
}
/* Teamsocial */
.teamsocial {
    display: none;
    width: 224px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);    
}
.teamsocial__item {
    flex: 1 1 0;
    display: flex;
    background-color: var(--active-orange);
    transition: background-color .2s linear;
}
.teamsocial__item:not(:last-child) {
    border-right: 1px solid #f9bd87;
}
.teamsocial__icon {
    width: 26px;
    height: 26px;
    margin: auto;
    fill: var(--active-red);
    transition: fill .2s linear;    
}
.teamsocial__item:hover {
    background-color: var(--active-red);
}
.teamsocial__item:hover .teamsocial__icon {
    fill: #fff;
}

/* Brands */
.brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Works */
.works {
    display: flex;
}
.works__col {
    flex: 1 1 0;
}
.works__item {
    position: relative;
    background: linear-gradient(to bottom, var(--active-red), var(--active-orange));
}
.works__img {
    display: block;
    transition: opacity .2s linear;
    max-width: 100%;
}
.works__content {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: var(--text-white);
}
.works__icon {
    margin-bottom: 15px;
}
.works__name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 9px;
}
.works__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-style: italic;
    font-weight: 300;
}
.works__item:hover .works__img {
    opacity: .1;
} 
.works__item:hover .works__content {
    display: block;
}

/* Clients */
.section--clients {
    background: center no-repeat url(../img/clients/bg.jpg);
    background-size: cover;
    padding: 110px 0 55px;
}
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
}
.clients__item {
    position: relative;
    width: 50%;
    padding: 10px 50px 70px 180px;
}
.clients__photo {
    position: absolute;
    top: 0;
    left: 40px;
}
.clients__name {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text-gray);
    margin-bottom: 7px;
}
.clients__post {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-style: italic;
    font-weight: 300;  
    color: var(--text-gray);  
}
.clients__post::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--active-red);
    margin: 14px 0 20px;
}
.clients__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;  
    color: var(--text-light-gray);      
}