/* Шрифты
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
:root {
    --active-orange: #fce38a;
    --active-red: #f38181;
    --text-white: #ffffff;
    --text-gray: #333333;
    --text-light-gray: #999999;
    --bg--green: #95e1d3;
}

*, *::after, *::before {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    -webkit-tap-highlight-color:  transparent;
    -moz-user-select: none;  
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%; 
    position: absolute;
    top: 25px;
    left: 0;    
    z-index: 2;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}

/* Top navigation */
.logo {
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
    color: var(--text-white);
    border: none;
    text-decoration: none;
    transition: color .2s linear;
}
.logo:hover, .logo:focus {
    color: var(--active-orange);
    outline: none;
}
.topnav {
    display: flex;
    align-items: center;
}
.topnav__link {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
    text-decoration: none;
    margin: 0 25px;
    transition: color .2s linear;
}
.topnav__link:hover, .topnav__link:focus {
    color: var(--active-orange);
    outline: none;
}
.topnav__link.active {
    color: var(--active-orange);
}
.topnav__link::after {
    content: "";
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 100%;
    height: 3px;
    background-color: var(--active-orange);
    transition: opacity .15s linear;
}
.topnav__link:hover::after, .topnav__link.active::after {
    opacity: 1;
}

/* Intro */
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/header_bg.jpg);
    background-position: center;
    background-size: cover;
}
.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 80px;
}
.intro__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    color: var(--text-white);
    margin-bottom: 30px;
}
.intro__title {
    position: relative;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: var(--text-white);
}
.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--text-white);
    margin: 55px auto;
}
.intro__button {
    display: block;
    padding: 8px 32px;
    border: 3px solid var(--text-white);
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-white);
    cursor: pointer;
}
.intro__button:hover {
    border: 3px solid var(--active-red);
    background-color: var(--active-red);
}

/* slider */
.slider {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.slider__inner {
    display: flex;
    justify-content: space-between;
}
.slider__item {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
    width: 23%;
    padding: 22px 0;
    border-top: 3px solid var(--text-white);
}
.slider__item span {
    font-size: 24px;
    font-weight: 700;
}
.slider__item::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: var(--active-red);
    position: absolute;
    top: -3px;
    left: 0;
}

/* Section */
.section {
    padding: 90px 0;
}
.section__header {
    width: 100%;
    max-width: 970px;
    text-align: center;
    margin: 0 auto;
}
.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-gray);
    margin-bottom: 25px;
}
.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-gray);
}
.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--active-red);
    margin: 38px auto;
}
.header__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-light-gray);
    margin-bottom: 90px;
}

/* About */
.about {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.about__item {
    background-color: var(--bg--green);
}
.about__image {
    position: relative;
    background: linear-gradient(to bottom, var(--active-red), var(--active-orange));
    transition: transform .2s linear;
}
.about__image img{
    display: block;
    transition: opacity .2s linear;
}
.about__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-white);
    opacity: 0;
    transition: opacity .2s linear;
}
.about__item:hover {
    cursor: pointer;
}
.about__item:hover .about__image{
    transform: translate3d(-10px, -10px, 0);
}
.about__item:hover .about__image img{
    opacity: .2;
}
.about__item:hover .about__text {
    opacity: 1;
}

/* Funnum */
.funnum {
    background-color: var(--bg--green);
}
.funnum__inner {
    display: flex;
    width: 100%;    
}
.funnum__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 270px;
    border-left: 1px solid #b5eae0;
}
.funnum__item:last-child {
    border-left: 1px solid #b5eae0;
    border-right: 1px solid #b5eae0;  
}
.funnum__num {
    font-size: 72px;
    font-weight: 700;
    color: var(--text-white);
}
.funnum__text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
}

/* Services */
.services {
    display: flex;
    position: relative;
    margin-bottom: 50px;
}
.services__item {
    flex: 1 1 0;
    position: relative;
    padding: 0 40px 40px 90px;
}
.services__icon {
    position: absolute;
    top: 0;
    left: 30px;
}
.services__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-gray);
}
.services__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: var(--text-light-gray);
}
.services.line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}